In [1]:
import pandas as pd
import numpy as np

In [3]:
data = ({'Product':['Credit Card', 'Savings', 'Checking', 'Credit Card'], 
         'Type': ['Charge', 'Not Charge', 'Not Charge', 'Charge'],
         'Country':[['Finland', 'UK'], ['Spain', 'Italy'], ['Israel', 'Italy'], ['Spain']]} )

In [4]:
df = pd.DataFrame(data)

In [8]:
df

       Product        Type          Country
0  Credit Card      Charge    [Finland, UK]
1      Savings  Not Charge   [Spain, Italy]
2     Checking  Not Charge  [Israel, Italy]
3  Credit Card      Charge          [Spain]

In [6]:
lst_col = 'Country'

new_df = pd.DataFrame({
    col:np.repeat(df[col].values, df[lst_col].str.len())
                  for col in df.columns.drop(lst_col)}).assign(**{lst_col:np.concatenate(df[lst_col].values)})[df.columns]

In [7]:
new_df

       Product        Type  Country
0  Credit Card      Charge  Finland
1  Credit Card      Charge       UK
2      Savings  Not Charge    Spain
3      Savings  Not Charge    Italy
4     Checking  Not Charge   Israel
5     Checking  Not Charge    Italy
6  Credit Card      Charge    Spain